@import "mq";
@import "palette";

#article:before {
    width: 100%;
    height: 0px;
    padding-bottom: 30%;
    content: "";
    display: block;
    background-image: url("https://interactive.guim.co.uk/embed/aus/2020/asylum-seeker-timeline/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ios,
.android {

    #standard-article-container:before{
        width: 100%;
        height: 0px;
        padding-bottom: 30%;
        content: "";
        display: block;
        background-image: url("https://interactive.guim.co.uk/embed/aus/2020/asylum-seeker-timeline/header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

